<div class="form-group question clearfix">
  <div class="row">
    <div class="col-lg-4 col-md-4 pull-left">
      <div class="row">
        <div class="col-lg-4 col-md-4 question-label">
          <label for="textArea" class="control-label">Question {{index}}</label>
        </div>
        <div class="col-lg-6 col-md-6">
          <select class="form-control type-question" id="select" ng-model="question.type_question">
            <option class="test-fa" ng-repeat="type in vm.types" value="{{type.type_question}}">{{type.display_value}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 pull-right remove-question text-right">
      <label class="control-label" data-toggle="tooltip"
             ng-click="vm.removeQuestion(question)"
             data-placement="top" title="" data-original-title="Delete question" tooltip>
        <i class="fa fa-times"></i>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <textarea class="form-control question-text" style="resize: none" rows="2" id="textArea" placeholder="Question text" ng-model="question.text"></textarea>
    </div>
  </div>
  <div class="row answers">
    <div class="col-lg-8 col-md-8 text-center col-lg-offset-1 col-md-offset-1">
      <answer ng-hide="answer._destroy" answer="answer" question="question" ng-repeat="answer in question.answers"></answer>
    </div>
  </div>
  <a class="btn btn-primary btn-light-blue btn-block" ng-click="vm.addAnswer(question)"><i class="fa fa-plus"></i>New Answer</a>
</div>
