<section>
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Questionary</h1>
            <h3>Join Us it's FREE!!!</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li><%= link_to 'Join Us', new_user_session_path, class: 'btn btn-primary btn-lg' %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
          <div class="note-book">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 text-center">
          <div class="note-book-text">
            <h2>Question and other</h2>
            <p>Create your questionnaire, find out what people think, share it in social networks,
              send by email. You'll like it!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>