<!--<div class="container" ng-app="questionary">-->
<!--<ui-view></ui-view>-->
<!--</div>-->
<%= link_to 'Go Login', new_user_session_path %>
<div>
  <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
</div>