<div class="questions">
  <ol>
    <% questions.each do |question| %>
        <li><%=question.text%></li>
        <ol>
          <% question.answers.each do |answer| %>
              <li>
                <label>
                  <%= radio_button("question[#{question.id}]", 'answers', answer.text) %> <%= answer.text %>
                </label>
              </li>
          <% end %>
        </ol>
    <%end%>
  </ol>
</div>