<div class="container">
  <% @q.each do |questionary| %>
    <h3><%= questionary.title %></h3>
    <span><%=questionary.id %></span>
    <%= link_to 'Edit Questionary', edit_questionary_path(id:questionary.id) %>
    <div class="questions">
      <ol>
        <% questionary.questions.each do |qestion| %>
            <li><%=qestion.text%></li>
        <%end%>
      </ol>
    </div>
  <%end%>
</div>