<div ng-cloak class="landing">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Questionary</span>
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-content flex class="slider">
    <div style="position: relative">
      <!--<img class="slider-image" src="http://placehold.it/1000x500">-->
      <div class="slider-color"></div>
      <md-button class="md-raised join-us-btn" ng-click="vm.goToSignUp()">Join Us</md-button>
    </div>
  </md-content>
  <md-content flex layout-padding class="features">
    <h2 class="title">What we can</h2>
  </md-content>
</div>
