<div class='layout-login' layout-align='center center' layout='column'>
  <md-content class='login-block md-whiteframe-z2'>
    <div class='header_login' layout-align='center center' layout='column'>
      <h2>Questionary</h2>
      <p>Sign Up</p>
    </div>
    <md-content layout-padding>
      <form name='signUpForm'>
        <md-input-container class="md-block" md-no-float>
          <md-icon md-svg-icon='email'></md-icon>
          <input name='email' ng-model='user.email' placeholder='Email' required type='email'>
        </md-input-container>
        <md-input-container class="md-block" md-no-float>
          <md-icon md-svg-icon='account'></md-icon>
          <input name='pass' ng-model='user.password' placeholder='Password' required type='password'>
        </md-input-container>
        <md-input-container class="md-block">
          <md-button class='md-raised md-primary login-btn' ng-click='signUp()' type='submit'>
            Sing Up
          </md-button>
        </md-input-container>
      </form>
      <p class="md-block">
        Have account?
        <a href='/sign_in'>Sign In</a>
      </p>
    </md-content>
  </md-content>
</div>
