<!DOCTYPE html>
<html>
<head>
  <title>Questionnaire</title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<!--<md-toolbar>-->
  <!--<div class="md-toolbar-tools">-->
    <!--<h2>-->
      <!--<span>Questionary</span>-->
    <!--</h2>-->
    <!--<span flex></span>-->
    <!--<span ng-bind=""></span>-->
  <!--</div>-->
<!--</md-toolbar>-->
<%= yield %>
<!--<ui-view></ui-view>-->

</body>
</html>
